.loginCard {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  padding: 2.5rem;
  min-width: 450px;
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
 
}

.loginTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #222;
  /* text-align: left; */
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-align: center;
}

.loginSubText {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1.2rem;
  text-align: left;
}

.link {
  color: #f7941d;
  text-decoration: none;
  margin-left: 4px;
}

.errorMessage {
  color: red;
  margin-bottom: 0.8rem;
  font-size: 0.95rem;
}

.signInForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputField {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.forgotPwd {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.loginBtn {
  width: 50%;
  background: #f7941d;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.loginBtn:hover {
  background: #d87a0c;
}

.loginCard:hover {
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease;
}




@media (max-width: 600px) {
  .loginCard {
    min-width: 90vw;
  }
}
